<form class="form-search">
  <input type="text" class="input-medium search-query" placeholder="搜尋" ng-model="query">
</form>
<table class="table table-hover">
    <tr>
        <th><a ng-click="sort('id')">編號</a></th>
        <th><a ng-click="sort('title')">名稱</a></th>
        <th><a ng-click="sort('content')">內容</a></th>
        <th><a ng-click="sort('c_datetime')">建立時間</a></th>
        <th>功能</th>
    </tr>
    <tr ng-repeat="item in data | filter:query | orderBy:sort_field">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td ng-bind-html-unsafe="item.content | nl2br"></td>
        <td>{{item.c_datetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>
            <a ng-href="#/edit/{{$index}}">修改</a>
            <a style="cursor:pointer;" ng-click="del_data($index)">刪除</a>
        </td>
    </tr>
</table>